body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #D88C9A;
    border-radius: 10px;
}

button {
    display: inline-block;
    background-color: #8E7DBE;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 5px;
}

#delete-btn {
    display: inline-block;
    background-color: white;
    font-weight: bold;
    color: #D88C9A;
    border: solid #D88C9A 1px;
    padding: 10px 20px;
}

#ul-el {
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
}

#leads-li {
    margin-top: 8px;
}

#leads-a {
    color: #8E7DBE;
}

#leads-a:visited {
    color: #D88C9A;
}
